{% block page_layout_widget %}
    {% stylesheets
        '@EtfostraPageLayoutBundle/Resources/public/vendor/gridstack/dist/gridstack.min.css'
        '@EtfostraPageLayoutBundle/Resources/public/sonata_admin/css/sonata-page.back.css'
        '@EtfostraPageLayoutBundle/Resources/public/sonata_admin/css/custom.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% javascripts
        '@EtfostraPageLayoutBundle/Resources/public/vendor/lodash/dist/lodash.min.js'
        '@EtfostraPageLayoutBundle/Resources/public/vendor/gridstack/dist/gridstack.min.js'
        '@EtfostraPageLayoutBundle/Resources/public/sonata_admin/js/modal.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div id="{{ id }}" class="{{ attr.class }}">
        <div class="page-composer__page-preview">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row page-layout-header">
                        <div class="col-sm-7">
                            <select class="pageLayoutAvailableWidgets">
                                {% for value, text in choices %}
                                    <option value="{{ value }}">{{ text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <button class="btn btn-success pageLayoutAddWidget">Add widget</button>
                        </div>
                    </div>
                    <hr class="star-light">
                </div>
            </div>

            <div class="grid-stack page-composer__page-preview__containers"></div>

        </div>

        <div class="pageLayoutItemTemplate">
            <div class="grid-stack-item page-composer__page-preview__container" data-gs-max-height="1">
                <div class="grid-stack-item-content page-composer__page-preview__container__content">
                    <strong class="page-layout-widget-title"></strong>
                    <dl class="dl-horizontal page-layout-widget-types">
                        {% for property_key, property in properties %}
                            <dt data-prop-name="{{ property_key }}">{{ property_key | replace({'_': ' '}) | capitalize }}</dt>
                            <dd data-prop="{{ property_key }}"></dd>
                        {% endfor %}
                    </dl>

                    <span class="page-composer__page-preview__add-block">
                        <a
                            href="#pl_modal"
                            data-toggle="modal"
                            data-title="Edit"
                            data-scope="edit"
                            class="btn btn-sm btn-default create_link"
                            title="Edit"
                        >
                            <i class="fa fa-edit"></i>
                        </a>

                        <a href="#" class="btn btn-sm btn-danger pl_delete_link" title="Delete block">
                            <i class="fa fa-times"></i>
                        </a>

                    </span>
                </div>
            </div>
        </div>

        <div class="pageLayoutItemData">
            <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        </div>

        <div class="modal fade" id="pl_modal" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                    </div>

                    <div class="modal-body">
                        <div class="pl_modal_content">
                            {% for property_key, property in properties %}
                                <label for="pl_property_{{ property_key }}">{{ property_key | replace({'_': ' '}) | capitalize }}</label>
                                <select id="pl_property_{{ property_key }}" class="pl_modal_select_prop" data-prop="{{ property_key }}">
                                    {% for k, v in property %}
                                        <option value="{{ k }}">{{ v }}</option>
                                    {% endfor %}
                                </select>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary modal_save_link">
                            Ok
                        </button>
                        <button type="button" class="btn btn-danger modal_cancel_link" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        var $page_layout_thisControl = $('#{{ id }}');
        var page_layout_properties = {{ properties | json_encode | raw }};
        var page_layout_settings = {{ grid_settings | json_encode | raw }};
    </script>
{% endblock %}